<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery1.8.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/jCalendar.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.XYTipsWindow.min.2.8.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/mydate.js"></script>
<link href="__PUBLIC__/ht/css/order.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="aaa_pts_show_1">【 全部评论 】</div>


<div class="aaa_pts_show_2">
    <div>
       <!-- <div class="aaa_pts_4"><a href="{:U('order_count')}?shop_id={$shop_id}">销售统计</a></div> -->
       <div class="aaa_pts_4"><a href="{:U('comment')}">全部评论</a></div>
    </div>
    
    <div class="aaa_pts_3">
      <form name='form' action="{:U('comment')}" method='post'>
      <div class="pro_4 bord_1">
         <div class="pro_5">
               订单号：
               <input type="text" name="order_sn"/>
         </div>
         
         <div class="pro_5">
               商品：
              <input type="text" name="pname"/>
         </div>
         
         
         <div class="pro_6"><input type="button" class="aaa_pts_web_3" value="搜 索" style="margin:0;" onclick="product_option();"></div>
      </div>
      </form>
      <table class="pro_3">
         <tr class="tr_1">  
           <td style="width:140px;">订单号</td>
           <td>用户</td>         
           <td>商品</td>
           <td>评论内容</td>
           <td style="width:150px;">评论等级</td>
           <td style="width:180px;">评论时间</td>
           <td style="width:180px;">操作</td>
         </tr>
         <volist name='comment' id='comment'>
         <tr data-id="{$comment['id']}"">
		      <td>{$comment['order']}</td>
          <td>{$comment['uname']}</td>
          <td>{$comment['pname']}</td>
          <td>{$comment['content']}</td>
          <td>{$comment['num']}</td>
		      <td>{$comment['addtime']|date='Y-m-d H:i:s',###}</td>
		   <td>
		      <a href="{:U('replyComment')}?cid={$comment['id']}">详情</a> | 
			  <a onclick="del_id_url({$comment['id']})">删除</a>
		   </td>
	     </tr>
		 </volist>
         <tr>
            <td colspan="10" class="td_2">
                {$page} 
             </td>
         </tr>
      </table>
    </div>
    
</div>

<script>
//搜索按钮点击事件
function product_option(){
  $('form').submit(); 
}

//订单删除方法
function del_id_url(id){
   if(confirm("确认删除吗？"))
   {
	  location='{:U("delComment")}?id='+id;
   }
}
</script>
</body>
</html>
